<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{invitation.list.header}"></h2>
		<p th:text="#{invitation.list.intro}">Listado usuarios</p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableInvitations" id="tableInvitations">
				<thead>
					<tr>
						<th class="col-md-4" th:text="#{user.name}">Nombre</th>
						<th th:text="#{user.email}">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="invitation : ${invitations}">
						<td  class="text-left" th:text="${invitation.enviada.name}">Cris</td>
						<td  class="text-left" th:text="${invitation.enviada.email}">cris@x.es</td>
						<td> <div> 
		   			
		   			<button type="button" th:id="${'aceptButton' + invitation.id}" 
		   					class="btn btn-info" th:text="#{invitation.acept}">Aceptar invitacion</button>
					<script th:inline="javascript">
					  /*<![CDATA[*/
					  $( "#aceptButton[[${invitation.id}]]" ).click(function() {
						  $.get( "/invitation/[[${invitation.id}]]/acept", function( data ) {
							  var numberPage = [[${param.page}]];
							  var urlUpdate = '/invitation/list/update';
							  if ( numberPage != null ){
								  urlUpdate += "?page="+numberPage[0];
							  }
							  $("#tableInvitations").load(urlUpdate);
						  });
					  });
					  /*]]>*/
					</script>  
		   		</div>
						 </td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>