<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block titulo %} Red Social {% endblock %}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block scripts %} {% endblock %}
</head>
<body>


<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="/img/logo.png" alt="logo"/> 
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="mUsuarios"><a href="/usuario">Usuarios</a></li>
        <li id="mInvitaciones"><a href="/invitaciones">Invitaciones</a></li>
        <li id="mCompras"><a href="/compras">Compras</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container">

  <script>
      var mensaje = getUrlParameter('mensaje');
      var tipoMensaje = getUrlParameter('tipoMensaje');
      if ( mensaje != ""){
          if (tipoMensaje == "" ){
              tipoMensaje = 'alert-info';
          }
          $( ".container" )
              .append("<div class='alert "+tipoMensaje+"'>"+mensaje+" </div>");
      }
      function getUrlParameter(name) {
          name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
          var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
          var results = regex.exec(location.search);
          return results === null ? '' :
              decodeURIComponent(results[1].replace(/\+/g, ' '));
      };
  </script>

  <!-- Contenido -->
    {% block contenido_principal %}
    <!-- Posible contenido por defecto -->
    {% endblock %}

</div>


</body>
</html>