{% extends "base.html" %}

{% block titulo %} Red Social - Usuarios {% endblock %}

{% block contenido_principal %}
<!-- Búsqueda -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/usuario" >
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control"
                       placeholder="Nombre de usuario" name="busqueda"/>
                <span class="input-group-btn">
<button class="btn" type="submit">
<span class="glyphicon glyphicon-search"></span>
</button>
</span>
            </div>
        </form>
    </div>
</div>

<h2>Listado usuarios</h2>
<div class="row">
    <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
    <!-- Inicio del Bloque canción -->
    <div class="table-responsive">
        <table class="table table-hover" id="tableUsers">
            <thead>
            <tr>
                <th class="col-md-4" >Nombre</th>
                <th >Email</th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td  class="text-left" >{{ usuario.nombre }}</td>
                <td  class="text-left" >{{ usuario.email }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Fin del Bloque canción -->
</div>
<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
    <ul class="pagination">
        <!-- Primera -->
        <li class="page-item" >
            <a class="page-link" href="/usuario?pg=1" >Primera</a>
        </li>

        <!-- Anterior (si la hay ) -->
        {% if pgActual-1 >= 1 %}
        <li class="page-item">
            <a class="page-link" href="/usuario?pg={{ pgActual -1 }}" >{{ pgActual -1 }}</a>
        </li>
        {% endif %}

        <!-- Actual -->
        <li class="page-item active" >
            <a class="page-link" href="/usuario?pg={{ pgActual }}">{{ pgActual }}</a>
        </li>

        <!-- Siguiente (si la hay) -->
        {% if pgActual+1 <= pgUltima %}
        <li class="page-item">
            <a class="page-link" href="/usuario?pg={{ pgActual+1 }}" >{{ pgActual+1 }}</a>
        </li>
        {% endif %}

        <!-- Última -->
        <li class="page-item" >
            <a class="page-link" href="/usuario?pg={{ pgUltima }}" >Última</a>
        </li>
    </ul>
</div>

{% endblock %}
