{% extends "base.html" %}

{% block titulo %} Red Social - Usuarios {% endblock %}

{% block contenido_principal %}

		<h2 ></h2>
		<p >Listado de amigos</p>
		<div class="table-responsive">
			<table class="table table-hover"  id="tableInvitations">
				<thead>
					<tr>
						<th class="col-md-4" >Nombre</th>
						<th >Email</th>
					</tr>
				</thead>
				<tbody>
				{% for amistad in amistades %}
				<tr>
					<td  class="text-left" >{{amistad.nombre}}</td>
					<td  class="text-left" >{{amistad.email}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
<div class="row text-center">
	<ul class="pagination">
		<!-- Primera -->
		<li class="page-item" >
			<a class="page-link" href="/usuario?pg=1" >Primera</a>
		</li>

		<!-- Anterior (si la hay ) -->
		{% if pgActual-1 >= 1 %}
		<li class="page-item">
			<a class="page-link" href="/usuario?pg={{ pgActual -1 }}" >{{ pgActual -1 }}</a>
		</li>
		{% endif %}

		<!-- Actual -->
		<li class="page-item active" >
			<a class="page-link" href="/usuario?pg={{ pgActual }}">{{ pgActual }}</a>
		</li>

		<!-- Siguiente (si la hay) -->
		{% if pgActual+1 <= pgUltima %}
		<li class="page-item">
			<a class="page-link" href="/usuario?pg={{ pgActual+1 }}" >{{ pgActual+1 }}</a>
		</li>
		{% endif %}

		<!-- Última -->
		<li class="page-item" >
			<a class="page-link" href="/usuario?pg={{ pgUltima }}" >Última</a>
		</li>
	</ul>
</div>
{% endblock %}