{% extends "base.html" %}

{% block titulo %} Red Social - Usuarios {% endblock %}

{% block contenido_principal %}

		<h2 ></h2>
		<p >Listado de amigos</p>
		<div class="table-responsive">
			<table class="table table-hover"  id="tableInvitations">
				<thead>
					<tr>
						<th class="col-md-4" >Nombre</th>
						<th >Email</th>
					</tr>
				</thead>
				<tbody>
				{% for amigo in amigos %}
						<td  class="text-left" >{{amigo,nombre}}</td>
						<td  class="text-left" >{{amigo.email}}</td>
					</tr>
				</tbody>
			</table>
		</div>
{% endblock %}