<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{user.list.header}"></h2>
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por nombre o email del alumno">
			</div>
			<button type="submit" class="btn btn-default" th:text="#{search}">Buscar</button>
		</form>
		<p th:text="#{user.list}">Listado usuarios</p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableUsers" id="tableUsers">
				<thead>
					<tr>
						<th class="col-md-4" th:text="#{user.name}">Nombre</th>
						<th th:text="#{user.email}">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td  class="text-left" th:text="${user.name}">Cris</td>
						<td  class="text-left" th:text="${user.email}">cris@x.es</td>
						<td> <div th:if="${user.isRecibida()}">  <p th:id="${'pSended' + user.id}"> Solicitud enviada </p>
		   		</div>
						 <div th:unless="${user.isRecibida()}"> 
		   			
		   			<button type="button" th:id="${'sendButton' + user.id}" 
		   					class="btn btn-info" th:text="#{user.invitation.send}">Agregar Amigo</button>
					<script th:inline="javascript">
					  /*<![CDATA[*/
					  $( "#sendButton[[${user.id}]]" ).click(function() {
						  $.get( "/user/[[${user.id}]]/send", function( data ) {
							  var numberPage = [[${param.page}]];
							  var urlUpdate = '/user/list/update';
							  if ( numberPage != null ){
								  urlUpdate += "?page="+numberPage[0];
							  }
							  $("#tableUsers").load(urlUpdate);
						  });
					  });
					  /*]]>*/
					</script>  
		   		</div>
		   		
						 </td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>