<!-- nav.html -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<img src="/img/student-48.png" alt="logo" />
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
				<li><a href="/">Home</a></li>
				<li><a href="/user/list" th:text="#{user.list}">Ver
						Usuarios</a></li>
				<li> <a href = "/invitation/list" th:text = "#{invitation.list}" id="invitaciones"> Ver invitaciones</a> </li>
				<li> <a href = "/friends" th:text = "#{friends}" id="amigos"> Amigos</a> </li>
				<li><a href="/post/add" th:text="#{post.add}">Nueva publicación</a></li>
				<li><a href="/post/list" th:text="#{post.list}">Mis publicaciones</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a id="btnLanguage" href="
 					#"
					class="dropdown-toggle" data-toggle="dropdown" role="button"
					aria-haspopup="true" aria-expanded="false"> <span
						th:text="#{language.change}"></span> <span class="caret"></span>
				</a>
					<ul id="languageDropdownMenuButton" class="dropdown-menu">
						<li><a id="btnEnglish" value="EN"> <img
								th:src="@{/img/if_uk_flag.png}"
								style="border: 0; float: left; margin-right: 15px" /> <span
								th:text="#{language.en}">Inglés</span>
						</a></li>
						<li><a id="btnSpanish" value="ES"> <img
								th:src="@{/img/if_spain_flag.png}"
								style="border: 0; float: left; margin-right: 15px" /> <span
								th:text="#{language.es}">Español</span>
						</a></li>
					</ul></li>
				<li sec:authorize="!isAuthenticated()"><a href="/signup"
					th:text="#{signup.message}"> <span
						class="glyphicon glyphicon-user"></span> Registrate
				</a></li>
				<li sec:authorize="!isAuthenticated()"><a href="/login"
					th:text="#{login.message}"> <span
						class="glyphicon glyphicon-log-in"></span> Identifícate
				</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/logout"
					th:text="#{logout.message}"> <span
						class="glyphicon glyphicon-log-out"></span> Desconectar
				</a></li>
			</ul>
		</div>
	</div>
</nav>
